<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heycode.aizi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiZi">
        <activity android:name=".dashboard.todo.AddTaskActivity"></activity>
        <activity android:name=".dashboard.training.TrainingActivity" />
        <activity android:name=".dashboard.todo.TodoActivity" />
        <activity android:name=".dashboard.locations.LocationActivity" />
        <activity android:name=".dashboard.identify.IdentifyActivity" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SigninActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>